In [1]:
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import PCA

from nltk.tokenize.casual import casual_tokenize

In [2]:
topic = {}
tfidf = dict(list(zip('cat dog apple lion NYC love'.split(), [1, 1, 1, 1, 1, 1])))
topic['pet'] = (.3 * tfidf['cat'] + .3 * tfidf['dog'] + 0 * tfidf['apple']
                + 0 * tfidf['lion'] - .2 * tfidf['NYC'] + .2 * tfidf['love'])
topic['animal'] = (.1 * tfidf['cat'] + .1 * tfidf['dog'] - .1 * tfidf['apple']
                   + .5 * tfidf['lion'] + .1 * tfidf['NYC'] - .1 * tfidf['love'])
topic['city'] = (0 * tfidf['cat'] - .1 * tfidf['dog'] + .2 * tfidf['apple']
                 - .1 * tfidf['lion'] + .5 * tfidf['NYC'] + .1 * tfidf['love'])


word_vector = {}
word_vector['cat'] = .3 * topic['pet'] + .1 * topic['animal'] + 0 * topic['city']
word_vector['dog'] = .3 * topic['pet'] + .1 * topic['animal'] - .1 * topic['city']
word_vector['apple'] = 0 * topic['pet'] - .1 * topic['animal'] + .2 * topic['city']
word_vector['lion'] = 0 * topic['pet'] + .5 * topic['animal'] - .1 * topic['city']
word_vector['NYC'] = -.2 * topic['pet'] + .1 * topic['animal'] + .5 * topic['city']
word_vector['love'] = .2 * topic['pet'] - .1 * topic['animal'] + .1 * topic['city']

### 4.1.5 LDA

In [3]:
sms = pd.read_csv('sms-spam.csv')
sms.head(6)

   Unnamed: 0  spam                                               text
0           0     0  Go until jurong point, crazy.. Available only ...
1           1     0                      Ok lar... Joking wif u oni...
2           2     1  Free entry in 2 a wkly comp to win FA Cup fina...
3           3     0  U dun say so early hor... U c already then say...
4           4     0  Nah I don't think he goes to usf, he lives aro...
5           5     1  FreeMsg Hey there darling it's been 3 week's n...

In [4]:
index = ['sms{}{}'.format(i, '!'*j) for (i,j) in zip(range(len(sms)), sms.spam)]
sms = pd.DataFrame(sms.values, columns=sms.columns, index=index)
sms['spam'] = sms.spam.astype(int)

In [5]:
sms.head(6)

      Unnamed: 0  spam                                               text
sms0           0     0  Go until jurong point, crazy.. Available only ...
sms1           1     0                      Ok lar... Joking wif u oni...
sms2!          2     1  Free entry in 2 a wkly comp to win FA Cup fina...
sms3           3     0  U dun say so early hor... U c already then say...
sms4           4     0  Nah I don't think he goes to usf, he lives aro...
sms5!          5     1  FreeMsg Hey there darling it's been 3 week's n...

In [14]:
sms = sms.drop(columns="Unnamed: 0", axis = 1)

In [15]:
sms.head()

       spam                                               text
sms0      0  Go until jurong point, crazy.. Available only ...
sms1      0                      Ok lar... Joking wif u oni...
sms2!     1  Free entry in 2 a wkly comp to win FA Cup fina...
sms3      0  U dun say so early hor... U c already then say...
sms4      0  Nah I don't think he goes to usf, he lives aro...

In [17]:
tfidf = TfidfVectorizer(tokenizer=casual_tokenize)
tfidf_docs = tfidf.fit_transform(raw_documents=sms.text).toarray()
print(tfidf_docs.shape)
print(sms.spam.sum())

(4837, 9232)
638

In [18]:
tfidf_docs= pd.DataFrame(tfidf_docs)

In [19]:
mask = sms.spam.astype(bool).values  # <1>
spam_centroid = tfidf_docs[mask].mean(axis=0) # <2>
ham_centroid = tfidf_docs[~mask].mean(axis=0)

In [20]:
print(spam_centroid.round(2))
print(ham_centroid.round(2))

0       0.06
1       0.00
2       0.00
3       0.00
4       0.00
        ...
9227    0.00
9228    0.00
9229    0.00
9230    0.00
9231    0.00
Length: 9232, dtype: float64
0       0.02
1       0.01
2       0.00
3       0.00
4       0.00
        ...
9227    0.00
9228    0.00
9229    0.00
9230    0.00
9231    0.00
Length: 9232, dtype: float64

In [21]:
spamminess_score = tfidf_docs.dot(spam_centroid - ham_centroid)
print(spamminess_score.round(2))

0      -0.01
1      -0.02
2       0.04
3      -0.02
4      -0.01
        ...
4832    0.05
4833   -0.01
4834   -0.01
4835   -0.00
4836    0.00
Length: 4837, dtype: float64

In [22]:
from sklearn.preprocessing import MinMaxScaler
sms['lda_score'] = MinMaxScaler().fit_transform(np.array(spamminess_score).reshape(-1, 1))
sms['lda_predict'] = (sms['lda_score'] > 0.5).astype(int)

In [23]:
sms['spam lda_predict lda_score'.split()].round(2).head(6)

       spam  lda_predict  lda_score
sms0      0            0       0.23
sms1      0            0       0.18
sms2!     1            1       0.72
sms3      0            0       0.18
sms4      0            0       0.29
sms5!     1            1       0.55

In [24]:
(1 - (sms['spam'] - sms['lda_predict']).abs().sum()/len(sms)).round(3)

0.977

### 4.2.1

In [25]:
from ch04_catdog_lsa_3x6x16 import word_topic_vectors

In [26]:
word_topic_vectors.T.round(1)

      cat  dog  apple  lion  nyc  love
top0 -0.6 -0.4    0.5  -0.3  0.4  -0.1
top1 -0.1 -0.3   -0.4  -0.1  0.1   0.8
top2 -0.3  0.8   -0.1  -0.5  0.0   0.1

### 4.3

In [27]:
from ch04_catdog_lsa_sorted import lsa_models, prettify_tdm

In [28]:
bow_svd, tfidf_svd = lsa_models()

In [29]:
prettify_tdm(**bow_svd)

   cat dog apple lion nyc love                                               text
0              1        1                                 NYC is the Big Apple.\n
1              1        1                        NYC is known as the Big Apple.\n
2                       1    1                                      I love NYC!\n
3              1        1           I wore a hat to the Big Apple party in NYC.\n
4              1        1                       Come to NYC. See the Big Apple!\n
5              1                             Manhattan is called the Big Apple.\n
6    1                                  New York is a big city for a small cat.\n
7    1              1           The lion, a big cat, is the king of the jungle.\n
8    1                       1                               I love my pet cat.\n
9                       1    1                      I love New York City (NYC).\n
10   1   1                                              Your dog chased my cat.\n

In [30]:
tdm = bow_svd["tdm"]
tdm

       0  1  2  3  4  5  6  7  8  9  10
cat    0  0  0  0  0  0  1  1  1  0   1
dog    0  0  0  0  0  0  0  0  0  0   1
apple  1  1  0  1  1  1  0  0  0  0   0
lion   0  0  0  0  0  0  0  1  0  0   0
nyc    1  1  1  1  1  0  0  0  0  1   0
love   0  0  1  0  0  0  0  0  1  1   0

### 4.3.1

In [31]:
U, s, Vt = np.linalg.svd(tdm)
pd.DataFrame(U, index = tdm.index).round(2)

          0     1     2     3     4     5
cat   -0.04  0.83 -0.38  0.00  0.11 -0.38
dog   -0.00  0.21 -0.18 -0.71 -0.39  0.52
apple -0.62 -0.21 -0.51  0.00  0.49  0.27
lion  -0.00  0.21 -0.18  0.71 -0.39  0.52
nyc   -0.75 -0.00  0.24 -0.00 -0.52 -0.32
love  -0.22  0.42  0.69  0.00  0.41  0.37

### 4.3.2

In [32]:
s.round(1)

array([3.1, 2.2, 1.8, 1. , 0.8, 0.5])

In [33]:
S = np.zeros((len(U), len(Vt)))

In [34]:
np.fill_diagonal(S, s)

In [35]:
pd.DataFrame(S).round(1)

     0    1    2    3    4    5    6    7    8    9   10
0  3.1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  2.2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  1.8  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.8  0.0  0.0  0.0  0.0  0.0  0.0
5  0.0  0.0  0.0  0.0  0.0  0.5  0.0  0.0  0.0  0.0  0.0

### 4.3.3

In [36]:
pd.DataFrame(Vt).round(2)

       0     1     2     3     4     5     6     7     8     9    10
0  -0.44 -0.44 -0.31 -0.44 -0.44 -0.20 -0.01 -0.01 -0.08 -0.31 -0.01
1  -0.09 -0.09  0.19 -0.09 -0.09 -0.09  0.37  0.47  0.56  0.19  0.47
2  -0.16 -0.16  0.52 -0.16 -0.16 -0.29 -0.22 -0.32  0.17  0.52 -0.32
3   0.00 -0.00 -0.00 -0.00 -0.00  0.00 -0.00  0.71  0.00 -0.00 -0.71
4  -0.04 -0.04 -0.14 -0.04 -0.04  0.58  0.13 -0.33  0.62 -0.14 -0.33
5  -0.09 -0.09  0.10 -0.09 -0.09  0.51 -0.73  0.27 -0.01  0.10  0.27
6  -0.57  0.21  0.11  0.33 -0.31  0.34  0.34 -0.00 -0.34  0.23  0.00
7  -0.32  0.47  0.25 -0.63  0.41  0.07  0.07  0.00 -0.07 -0.18  0.00
8  -0.50  0.29 -0.20  0.41  0.16 -0.37 -0.37 -0.00  0.37 -0.17  0.00
9  -0.15 -0.15 -0.59 -0.15  0.42  0.04  0.04  0.00 -0.04  0.63 -0.00
10 -0.26 -0.62  0.33  0.24  0.54  0.09  0.09  0.00 -0.09 -0.23 -0.00

### 4.3.5

In [37]:
err = []
for numdim in range(len(s), 0, -1):
    S[numdim -1, numdim -1] = 0
    reconstructed_tdm = U.dot(S).dot(Vt)
    err.append(np.sqrt(((reconstructed_tdm-tdm).values.flatten() **2 ).sum()/np.product(tdm.shape)))
np.array(err).round(2)

array([0.06, 0.12, 0.17, 0.28, 0.39, 0.55])

### 4.4.3

In [38]:
sms.text

sms0        Go until jurong point, crazy.. Available only in bu...
sms1                                 Ok lar... Joking wif u oni...
sms2!       Free entry in 2 a wkly comp to win FA Cup final tkt...
sms3             U dun say so early hor... U c already then say...
sms4        Nah I don't think he goes to usf, he lives around h...
                                     ...
sms4832!    This is the 2nd time we have tried 2 contact u. U h...
sms4833                       Will ü b going to esplanade fr home?
sms4834     Pity, * was in mood for that. So...any other sugges...
sms4835     The guy did some bitching but I acted like i'd be i...
sms4836                                 Rofl. Its true to its name
Name: text, Length: 4837, dtype: object

In [39]:
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.tokenize.casual import casual_tokenize
tfidf = TfidfVectorizer(tokenizer=casual_tokenize)
tfidf_docs = tfidf.fit_transform(raw_documents=sms.text).toarray()
len(tfidf.vocabulary_)
tfidf_docs = pd.DataFrame(tfidf_docs)
tfidf_docs = tfidf_docs - tfidf_docs.mean()
tfidf_docs.shape

(4837, 9232)

In [40]:
pca = PCA(n_components=16)
pca = pca.fit(tfidf_docs)
pca_topic_vectors = pca.transform(tfidf_docs)
pca_topic_vectors = pd.DataFrame(pca_topic_vectors, columns=['topic{}'.format(i) for i in range(16)])
pca_topic_vectors.head()

,topic0,topic1,topic2,topic3,topic4,topic5,topic6,topic7,topic8,topic9,topic10,topic11,topic12,topic13,topic14,topic15
0,0.201169,0.002772,0.037246,0.010981,-0.019197,-0.052956,0.039176,-0.068414,0.014535,-0.079746,0.007342,-0.007829,-0.021292,-0.033310,-0.018343,-0.022555
1,0.404379,-0.093865,-0.077507,0.050903,0.100192,0.047127,0.023059,0.062786,0.021575,-0.026032,-0.003176,0.041759,0.020832,-0.035796,0.051283,0.041663
2,-0.030459,-0.048120,0.090191,-0.067069,0.090572,-0.043113,-0.000502,0.001959,-0.057626,0.047617,0.124433,0.026078,0.014737,-0.032747,-0.048404,-0.021217
3,0.329045,-0.032753,-0.034559,-0.015787,0.052416,0.055697,-0.165412,-0.080526,0.065859,-0.099905,0.022628,0.038046,0.027765,-0.066588,0.019317,0.030185
4,0.002158,0.030871,0.038315,0.033880,-0.074356,-0.092458,-0.043262,0.059647,-0.045984,0.027705,0.029799,-0.005667,0.035073,0.021629,-0.083432,0.022120

In [41]:
tfidf.vocabulary_

{'go': 3807,
 'until': 8487,
 'jurong': 4675,
 'point': 6296,
 ',': 13,
 'crazy': 2549,
 '..': 21,
 'available': 1531,
 'only': 5910,
 'in': 4396,
 'bugis': 1973,
 'n': 5594,
 'great': 3894,
 'world': 8977,
 'la': 4811,
 'e': 3056,
 'buffet': 1971,
 '...': 25,
 'cine': 2277,
 'there': 8071,
 'got': 3855,
 'amore': 1296,
 'wat': 8736,
 'ok': 5874,
 'lar': 4848,
 'joking': 4642,
 'wif': 8875,
 'u': 8395,
 'oni': 5906,
 'free': 3604,
 'entry': 3195,
 '2': 471,
 'a': 1054,
 'wkly': 8933,
 'comp': 2386,
 'to': 8192,
 'win': 8890,
 'fa': 3328,
 'cup': 2608,
 'final': 3450,
 'tkts': 8180,
 '21st': 497,
 'may': 5272,
 '2005': 487,
 '.': 15,
 'text': 8020,
 '87121': 948,
 'receive': 6688,
 'question': 6574,
 '(': 9,
 'std': 7651,
 'txt': 8379,
 'rate': 6628,
 ')': 10,
 't': 7889,
 '&': 7,
 "c's": 2020,
 'apply': 1383,
 '08452810075': 115,
 'over': 6003,
 '18': 438,
 "'": 8,
 's': 6959,
 'dun': 3041,
 'say': 7034,
 'so': 7438,
 'early': 3069,
 'hor': 4207,
 'c': 2019,
 'already': 1268,
 'then': 8065,
 'nah': 5606,
 'i': 4311,
 "don't": 2948,
 'think': 8092,
 'he': 4048,
 'goes': 3819,
 'usf': 8537,
 'lives': 5004,
 'around': 1435,
 'here': 4104,
 'though': 8111,
 'freemsg': 3613,
 'hey': 4116,
 'darling': 2666,
 "it's": 4535,
 'been': 1693,
 '3': 591,
 "week's": 8788,
 'now': 5784,
 'and': 1310,
 'no': 5732,
 'word': 8967,
 'back': 1584,
 '!': 0,
 "i'd": 4312,
 'like': 4954,
 'some': 7454,
 'fun': 3677,
 'you': 9158,
 'up': 8489,
 'for': 3552,
 'it': 4533,
 'still': 7674,
 '?': 1037,
 'tb': 7955,
 'xxx': 9097,
 'chgs': 2230,
 'send': 7127,
 '£': 9216,
 '1.50': 344,
 'rcv': 6641,
 'even': 3240,
 'my': 5584,
 'brother': 1942,
 'is': 4519,
 'not': 5769,
 'speak': 7529,
 'with': 8918,
 'me': 5281,
 'they': 8083,
 'treat': 8312,
 'aids': 1214,
 'patent': 6106,
 'as': 1452,
 'per': 6148,
 'your': 9171,
 'request': 6796,
 'melle': 5315,
 'oru': 5968,
 'minnaminunginte': 5386,
 'nurungu': 5807,
 'vettam': 8599,
 'has': 4022,
 'set': 7154,
 'callertune': 2047,
 'all': 1253,
 'callers': 2046,
 'press': 6418,
 '*': 11,
 '9': 982,
 'copy': 2489,
 'friends': 3634,
 'winner': 8900,
 'valued': 8569,
 'network': 5678,
 'customer': 2620,
 'have': 4036,
 'selected': 7113,
 'receivea': 6689,
 '900': 986,
 'prize': 6450,
 'reward': 6851,
 'claim': 2283,
 'call': 2038,
 '09061701461': 263,
 'code': 2344,
 'kl341': 4771,
 'valid': 8565,
 '12': 384,
 'hours': 4226,
 'had': 3965,
 'mobile': 5441,
 '11': 371,
 'months': 5484,
 'or': 5946,
 'more': 5489,
 'r': 6590,
 'entitled': 3192,
 'update': 8495,
 'the': 8052,
 'latest': 4862,
 'colour': 2364,
 'mobiles': 5442,
 'camera': 2058,
 'co': 2333,
 'on': 5897,
 '08002986030': 99,
 "i'm": 4314,
 'gonna': 3834,
 'be': 1669,
 'home': 4176,
 'soon': 7483,
 'want': 8715,
 'talk': 7921,
 'about': 1076,
 'this': 8100,
 'stuff': 7741,
 'anymore': 1350,
 'tonight': 8235,
 'k': 4683,
 "i've": 4316,
 'cried': 2566,
 'enough': 3182,
 'today': 8199,
 'six': 7341,
 'chances': 2172,
 'cash': 2116,
 'from': 3652,
 '100': 354,
 '20,000': 482,
 'pounds': 6357,
 '>': 1035,
 'csh': 2584,
 '87575': 952,
 'cost': 2501,
 '150p': 415,
 '/': 27,
 'day': 2683,
 '6days': 827,
 '16': 431,
 '+': 12,
 'tsandcs': 8344,
 'reply': 6788,
 'hl': 4148,
 '4': 659,
 'info': 4433,
 'urgent': 8513,
 'won': 8950,
 '1': 337,
 'week': 8787,
 'membership': 5321,
 'our': 5980,
 '100,000': 355,
 'jackpot': 4564,
 ':': 1006,
 '81010': 900,
 'www.dbuk.net': 9039,
 'lccltd': 4880,
 'pobox': 6286,
 '4403ldnw1a7rw18': 696,
 'searching': 7081,
 'right': 6863,
 'words': 8968,
 'thank': 8037,
 'breather': 1912,
 'promise': 6487,
 'wont': 8958,
 'take': 7913,
 'help': 4089,
 'granted': 3883,
 'will': 8887,
 'fulfil': 3673,
 'wonderful': 8955,
 'blessing': 1802,
 'at': 1488,
 'times': 8158,
 'date': 2675,
 'sunday': 7805,
 'xxxmobilemovieclub': 9098,
 'use': 8531,
 'credit': 2556,
 'click': 2306,
 'wap': 8719,
 'link': 4977,
 'next': 5696,
 'message': 5340,
 'http://wap': 4259,
 'xxxmobilemovieclub.com': 9099,
 '=': 1031,
 'qjkgighjjgcbl': 6566,
 'oh': 5869,
 'watching': 8743,
 ':)': 1008,
 'eh': 3116,
 'remember': 6755,
 'how': 4233,
 'spell': 7545,
 'his': 4139,
 'name': 5612,
 'yes': 9137,
 'did': 2823,
 'v': 8553,
 'naughty': 5635,
 'make': 5193,
 'wet': 8828,
 'fine': 3458,
 'if': 4350,
 'that': 8045,
 '\x92': 9211,
 'way': 8753,
 'feel': 3400,
 'its': 4546,
 'gota': 3856,
 'b': 1560,
 'england': 3173,
 'macedonia': 5156,
 '-': 14,
 'dont': 2952,
 'miss': 5402,
 'goals': 3812,
 'team': 7968,
 'news': 5692,
 'ur': 8510,
 'national': 5629,
 '87077': 947,
 'eg': 3109,
 'try': 8340,
 'wales': 8695,
 'scotland': 7060,
 '4txt': 737,
 'ú1': 9220,
 '20': 481,
 'poboxox': 6287,
 '36504w45wq': 629,
 'seriously': 7147,
 '‘': 9225,
 'm': 5139,
 'going': 3823,
 'ha': 3961,
 'ü': 9221,
 'pay': 6119,
 'first': 3476,
 'when': 8840,
 'da': 2639,
 'stock': 7678,
 'comin': 2376,
 'aft': 1182,
 'finish': 3462,
 'lunch': 5121,
 'str': 7702,
 'down': 2974,
 'lor': 5058,
 'ard': 1410,
 'smth': 7422,
 'ffffffffff': 3420,
 'alright': 1269,
 'can': 2062,
 'meet': 5303,
 'sooner': 7485,
 'just': 4677,
 'forced': 3554,
 'myself': 5591,
 'eat': 3081,
 'slice': 7372,
 'really': 6670,
 'hungry': 4287,
 'tho': 8107,
 'sucks': 7778,
 'mark': 5230,
 'getting': 3767,
 'worried': 8981,
 'knows': 4782,
 'sick': 7289,
 'turn': 8362,
 'pizza': 6238,
 'lol': 5035,
 'always': 1279,
 'convincing': 2476,
 'catch': 2128,
 'bus': 1993,
 'are': 1411,
 'frying': 3660,
 'an': 1305,
 'egg': 3111,
 'tea': 7962,
 'eating': 3084,
 "mom's": 5463,
 'left': 4901,
 'dinner': 2858,
 'do': 2909,
 'love': 5081,
 "we're": 8760,
 'packing': 6032,
 'car': 2085,
 "i'll": 4313,
 'let': 4923,
 'know': 4779,
 "there's": 8074,
 'room': 6906,
 'ahhh': 1209,
 'work': 8970,
 'vaguely': 8560,
 'what': 8832,
 'does': 2923,
 'wait': 8689,
 "that's": 8048,
 'clear': 2300,
 'were': 8817,
 'sure': 7832,
 'being': 1713,
 'sarcastic': 7010,
 'why': 8868,
 'x': 9076,
 "doesn't": 2926,
 'live': 5000,
 'us': 8525,
 'yeah': 9125,
 'was': 8728,
 'apologetic': 1371,
 'fallen': 3352,
 'out': 5983,
 'she': 7199,
 'actin': 1123,
 'spoilt': 7572,
 'child': 2238,
 'caught': 2132,
 'till': 8152,
 'but': 1999,
 'we': 8757,
 "won't": 8951,
 'doing': 2938,
 'too': 8242,
 'badly': 1589,
 'cheers': 2214,
 'tell': 7985,
 'anything': 1356,
 'fear': 3391,
 'of': 5847,
 'fainting': 3344,
 'housework': 4231,
 'quick': 6577,
 'cuppa': 2610,
 'thanks': 8038,
 'subscription': 7766,
 'ringtone': 6872,
 'uk': 8415,
 'charged': 2184,
 '5': 745,
 'month': 5479,
 'please': 6265,
 'confirm': 2431,
 'by': 2016,
 'replying': 6790,
 'yup': 9192,
 'look': 5046,
 'timings': 8162,
 'msg': 5528,
 'again': 1190,
 'xuhui': 9093,
 'learn': 4892,
 '2nd': 567,
 'her': 4099,
 'lesson': 4921,
 '8am': 974,
 'oops': 5921,
 "roommate's": 6909,
 'done': 2950,
 'see': 7098,
 'letter': 4926,
 'decide': 2711,
 'hello': 4084,
 "how's": 4235,
 'saturday': 7024,
 'texting': 8027,
 "you'd": 9159,
 'decided': 2712,
 'tomo': 8224,
 'trying': 8342,
 'invite': 4493,
 'pls': 6273,
 'ahead': 1208,
 'watts': 8751,
 'wanted': 8716,
 'weekend': 8791,
 'abiola': 1072,
 'forget': 3560,
 'need': 5654,
 'crave': 2546,
 'most': 5499,
 'sweet': 7863,
 'arabian': 1407,
 'steed': 7658,
 'mmmmmm': 5431,
 'yummy': 9187,
 '07732584351': 62,
 'rodger': 6895,
 'burns': 1990,
 'tried': 8321,
 're': 6645,
 'sms': 7416,
 'nokia': 5744,
 'camcorder': 2056,
 '08000930705': 95,
 'delivery': 2750,
 'tomorrow': 8226,
 'who': 8859,
 'seeing': 7101,
 'hope': 4198,
 'man': 5203,
 'well': 8807,
 'endowed': 3163,
 'am': 1281,
 '<#>': 1024,
 'inches': 4401,
 'calls': 2053,
 'messages': 5344,
 'missed': 5405,
 "didn't": 2828,
 'get': 3760,
 'hep': 4098,
 'immunisation': 4379,
 'nigeria': 5708,
 'fair': 3345,
 'hopefully': 4201,
 'tyler': 8389,
 "can't": 2063,
 'could': 2511,
 'maybe': 5274,
 'ask': 1463,
 'bit': 1779,
 'stubborn': 7730,
 'hospital': 4214,
 'kept': 4730,
 'telling': 7986,
 'weak': 8762,
 'sucker': 7776,
 'hospitals': 4215,
 'suckers': 7777,
 'thinked': 8093,
 'time': 8154,
 'saw': 7033,
 'class': 2292,
 'gram': 3875,
 'usually': 8543,
 'runs': 6949,
 'half': 3977,
 'eighth': 3119,
 'smarter': 7395,
 'gets': 3763,
 'almost': 1264,
 'whole': 8862,
 'second': 7085,
 'fyi': 3693,
 'ride': 6862,
 'morning': 5493,
 "he's": 4050,
 'crashing': 2545,
 'place': 6240,
 'wow': 8997,
 'never': 5683,
 'realized': 6668,
 'embarassed': 3144,
 'accomodations': 1103,
 'thought': 8112,
 'liked': 4955,
 'since': 7314,
 'best': 1733,
 'seemed': 7105,
 'happy': 4011,
 '"': 1,
 'cave': 2136,
 'sorry': 7494,
 'give': 3788,
 'offered': 5855,
 'embarassing': 3145,
 'ac': 1089,
 'sptv': 7594,
 'new': 5687,
 'jersey': 4608,
 'devils': 2803,
 'detroit': 2797,
 'red': 6711,
 'wings': 8898,
 'play': 6255,
 'ice': 4330,
 'hockey': 4161,
 'correct': 2494,
 'incorrect': 4412,
 'end': 3158,
 'mallika': 5202,
 'sherawat': 7208,
 'yesterday': 9141,
 'find': 3455,
 '@': 1038,
 '<url>': 1030,
 'congrats': 2437,
 'year': 9126,
 'special': 7531,
 'cinema': 2278,
 'pass': 6094,
 'yours': 9176,
 '09061209465': 258,
 'suprman': 7830,
 'matrix': 5263,
 'starwars': 7638,
 'etc': 3230,
 'bx420': 2014,
 'ip4': 4502,
 '5we': 781,
 '150pm': 417,
 'later': 4861,
 'meeting': 5305,
 'where': 8846,
 'reached': 6652,
 'gauti': 3728,
 'sehwag': 7110,
 'odi': 5846,
 'series': 7145,
 'pick': 6211,
 '$': 5,
 'burger': 1985,
 'yourself': 9177,
 'move': 5513,
 'pain': 6039,
 'killing': 4754,
 'good': 3836,
 'joke': 4636,
 'girls': 3785,
 'situation': 7338,
 'seekers': 7102,
 'part': 6081,
 'checking': 2208,
 'iq': 4508,
 'roommates': 6910,
 'took': 8245,
 'forever': 3557,
 'come': 2371,
 'double': 2966,
 'check': 2204,
 'hair': 3972,
 'dresser': 2998,
 'said': 6980,
 'wun': 9024,
 'cut': 2624,
 'short': 7248,
 'nice': 5701,
 'pleased': 6266,
 'advise': 1165,
 'following': 3534,
 'recent': 6692,
 'review': 6849,
 'mob': 5439,
 'awarded': 1549,
 '1500': 414,
 'bonus': 1844,
 '09066364589': 306,
 'song': 7478,
 'dedicated': 2722,
 'which': 8853,
 'dedicate': 2721,
 'valuable': 8566,
 'frnds': 3643,
 'rply': 6925,
 'complimentary': 2406,
 'trip': 8322,
 'eurodisinc': 3234,
 'trav': 8304,
 'aco': 1119,
 '41': 679,
 '1000': 356,
 'dis': 2871,
 '6': 785,
 'morefrmmob': 5490,
 'shracomorsglsuplt': 7273,
 '10': 350,
 'ls1': 5103,
 '3aj': 638,
 'hear': 4062,
 'divorce': 2900,
 'barbie': 1620,
 'comes': 2373,
 "ken's": 4728,
 'plane': 6247,
 'wah': 8682,
 'lucky': 5114,
 'save': 7029,
 'money': 5470,
 'hee': 4075,
 'finished': 3464,
 'hi': 4120,
 'babe': 1574,
 'im': 4368,
 'wanna': 8713,
 'something': 7464,
 'xx': 9094,
 'performed': 6155,
 'waiting': 8692,
 'machan': 5158,
 'once': 5901,
 'thats': 8051,
 'cool': 2481,
 'gentleman': 3751,
 'dignity': 2848,
 'respect': 6816,
 'peoples': 6147,
 'very': 8598,
 'much': 5544,
 'shy': 7283,
 'pa': 6027,
 'operate': 5928,
 'after': 1183,
 'same': 6996,
 'looking': 5050,
 'job': 4623,
 "ta's": 7896,
 'earn': 3070,
 'ah': 1204,
 'stop': 7688,
 'urgnt': 8517,
 'real': 6662,
 'yo': 9152,
 'tickets': 8142,
 'one': 5903,
 'jacket': 4563,
 'used': 8532,
 'multis': 5553,
 'started': 7632,
 'requests': 6797,
 'came': 2057,
 'bed': 1686,
 'coins': 2350,
 'factory': 3335,
 'gotta': 3860,
 'nitros': 5727,
 'ela': 3124,
 'kano': 4708,
 'il': 4362,
 'download': 2975,
 'wen': 8811,
 'don': 2947,
 'stand': 7620,
 'close': 2313,
 'll': 5008,
 'another': 1332,
 'night': 5710,
 'spent': 7550,
 'late': 4858,
 'afternoon': 1185,
 'casualty': 2126,
 'means': 5291,
 "haven't": 4039,
 'any': 1346,
 'y': 9107,
 '42moro': 689,
 'includes': 4405,
 'sheets': 7203,
 'smile': 7403,
 'pleasure': 6268,
 'trouble': 8328,
 'pours': 6359,
 'rain': 6602,
 'sum': 7798,
 'hurts': 4297,
 'becoz': 1684,
 'someone': 7457,
 'loves': 5090,
 'smiling': 7407,
 'service': 7150,
 'representative': 6794,
 '0800 169 6031': 86,
 'between': 1741,
 '10am': 365,
 '9pm': 1002,
 'guaranteed': 3930,
 '5000': 755,
 'havent': 4040,
 'planning': 6251,
 'buy': 2004,
 'lido': 4937,
 '530': 767,
 'show': 7264,
 'collected': 2358,
 'simply': 7311,
 'password': 6102,
 'mix': 5421,
 '85069': 934,
 'verify': 8594,
 'usher': 8538,
 'britney': 1932,
 'fml': 3525,
 'po': 6284,
 'box': 1879,
 '5249': 764,
 'mk17': 5424,
 '92h': 990,
 '450ppw': 705,
 'telugu': 7991,
 'movie': 5516,
 'abt': 1084,
 'loads': 5014,
 'loans': 5016,
 'wk': 8928,
 'hols': 4174,
 'run': 6946,
 'forgot': 3565,
 'hairdressers': 3974,
 'appointment': 1386,
 'four': 3584,
 'shower': 7266,
 'beforehand': 1702,
 'cause': 2133,
 'prob': 6456,
 'coffee': 2345,
 'animation': 1319,
 'nothing': 5774,
 'else': 3138,
 'okay': 5877,
 'price': 6431,
 'long': 5042,
 'legal': 4904,
 'them': 8061,
 'ave': 1536,
 'ams': 1301,
 'gone': 3832,
 '4the': 735,
 'driving': 3007,
 'test': 8014,
 'yet': 9142,
 "you're": 9162,
 'mean': 5287,
 'guess': 3936,
 'gave': 3729,
 'boston': 1866,
 'men': 5326,
 'changed': 2174,
 'search': 7080,
 'location': 5019,
 'nyc': 5819,
 'cuz': 2631,
 'signin': 7299,
 'page': 6035,
 'says': 7038,
 'umma': 8423,
 'life': 4940,
 'vava': 8580,
 'lot': 5066,
 'dear': 2699,
 'wishes': 8912,
 'birthday': 1777,
 'making': 5197,
 'truly': 8335,
 'memorable': 5323,
 'aight': 1216,
 'hit': 4141,
 'would': 8993,
 'ip': 4501,
 'address': 1141,
 'considering': 2449,
 'computer': 2412,
 "isn't": 4528,
 'minecraft': 5380,
 'server': 7149,
 'grumpy': 3923,
 'old': 5889,
 'people': 6146,
 'mom': 5462,
 'better': 1738,
 'lying': 5135,
 'jokes': 4640,
 'worry': 8983,
 'busy': 1998,
 'plural': 6277,
 'noun': 5781,
 'research': 6802,
 'dinner.msg': 2859,
 'cos': 2499,
 'things': 8091,
 'scared': 7044,
 'mah': 5180,
 'loud': 5076,
 'gent': 3749,
 'contact': 2454,
 'last': 4855,
 'weekends': 8793,
 'draw': 2989,
 'shows': 7272,
 '09064012160': 282,
 'k52': 4691,
 '12hrs': 398,
 '150ppm': 419,
 'wa': 8677,
 'openin': 5925,
 'sentence': 7138,
 'formal': 3569,
 'anyway': 1360,
 'juz': 4682,
 'tt': 8348,
 'eatin': 3083,
 'puttin': 6554,
 'weight': 8798,
 'haha': 3968,
 'anythin': 1355,
 'happened': 4003,
 'entered': 3185,
 'cabin': 2025,
 "b'day": 1562,
 'boss': 1865,
 'felt': 3411,
 'askd': 1464,
 'invited': 4494,
 'apartment': 1365,
 'went': 8814,
 'specially': 7536,
 'holiday': 4171,
 'flights': 3502,
 'inc': 4399,
 'operator': 5929,
 '08712778109': 166,
 '10p': 368,
 'min': 5372,
 'goodo': 3846,
 'must': 5575,
 'friday': 3626,
 'egg-potato': 3112,
 'ratio': 6631,
 'tortilla': 8262,
 'needed': 5656,
 'hmm': 4153,
 'uncle': 8433,
 'informed': 4438,
 'paying': 6124,
 'school': 7050,
 'directly': 2865,
 'food': 3542,
 'private': 6447,
 '2004': 486,
 'account': 1107,
 'statement': 7641,
 '07742676969': 64,
 '786': 864,
 'unredeemed': 8477,
 'points': 6297,
 '08719180248': 213,
 'identifier': 4344,
 '45239': 707,
 'expires': 3307,
 '2000': 484,
 'caller': 2045,
 '5/9': 752,
 '03': 46,
 'landline': 4835,
 '09064019788': 288,
 '42wr29c': 690,
 'apples': 1381,
 'pairs': 6044,
 'malarky': 5199,
 'todays': 8205,
 'voda': 8645,
 'numbers': 5804,
 'ending': 3160,
 '7548': 856,
 '350': 624,
 'award': 1548,
 'match': 5251,
 '08712300220': 149,
 'quoting': 6589,
 '4041': 674,
 'standard': 7621,
 'rates': 6629,
 'app': 1375,
 'sao': 7004,
 'mu': 5542,
 'predict': 6392,
 "ü'll": 9222,
 'buying': 2007,
 'yetunde': 9144,
 "hasn't": 4024,
 'sent': 7137,
 'bother': 1869,
 'sending': 7129,
 'involve': 4498,
 "shouldn't": 7259,
 'imposed': 4386,
 'apologise': 1372,
 'girl': 3782,
 'del': 2740,
 'bak': 1597,
 'lucyxx': 5118,
 'tmorrow.pls': 8185,
 'accomodate': 1102,
 'answer': 1335,
 'sunshine': 7812,
 'quiz': 6584,
 'q': 6559,
 'top': 8253,
 'sony': 7480,
 'dvd': 3051,
 'player': 6257,
 'country': 2518,
 'algarve': 1245,
 'ansr': 1334,
 '82277': 907,
 'sp': 7516,
 'tyrone': 8394,
 'laid': 4827,
 'dogging': 2932,
 'locations': 5020,
 'direct': 2864,
 'join': 4631,
 "uk's": 8416,
 'largest': 4852,
 'bt': 1958,
 'txting': 8383,
 'gravel': 3888,
 '69888': 822,
 'nt': 5791,
 'ec2a': 3086,
 '31p': 611,
 '@150p': 1039,
 'haf': 3967,
 'msn': 5534,
 'yijue@hotmail.com': 9149,
 'him': 4132,
 'rooms': 6911,
 'befor': 1699,
 'activities': 1129,
 "you'll": 9161,
 'msgs': 5533,
 'chat': 2195,
 ...}

In [42]:
column_nums, terms = zip(*sorted(zip(tfidf.vocabulary_.values(), tfidf.vocabulary_.keys())))

In [43]:
weights = pd.DataFrame(pca.components_, columns = terms, index = ["topic{}".format(i) for i in range(16)])

In [44]:
pd.options.display.max_columns = 8
weights.head(4).round(3)

            !      "      #   #150  ...      …      ┾    〨ud      鈥
topic0 -0.071  0.008 -0.001 -0.000  ... -0.002  0.001  0.001  0.001
topic1  0.064  0.008  0.000 -0.000  ...  0.003  0.001  0.001  0.001
topic2  0.071  0.027  0.000  0.001  ...  0.002 -0.001 -0.001 -0.001
topic3 -0.059 -0.032 -0.001 -0.000  ...  0.001  0.001  0.001  0.001

[4 rows x 9232 columns]

In [45]:
pd.options.display.max_columns = 12
deals = weights['! ;) :) half off free crazy deal only $ 80 %'.split()].round(3)*100

In [46]:
deals

            !   ;)    :)  half  off  free  crazy  deal  only    $   80    %
topic0   -7.1  0.1  -0.5  -0.0 -0.4  -2.0   -0.0  -0.1  -2.2  0.3 -0.0 -0.0
topic1    6.4  0.0   7.4   0.1  0.4  -2.3   -0.2  -0.1  -3.8 -0.1 -0.0 -0.2
topic2    7.1  0.2  -0.1   0.0  0.3   4.4    0.1  -0.1   0.7  0.0  0.0  0.1
topic3   -5.9 -0.3  -7.1   0.2  0.3  -0.2    0.0   0.1  -2.3  0.1 -0.1 -0.3
topic4   38.1 -0.1 -12.5  -0.1 -0.2   9.8    0.1  -0.2   3.0  0.3  0.1 -0.1
topic5  -26.5  0.1  -1.6  -0.3 -0.7  -1.4   -0.6  -0.2  -1.8 -0.9  0.0  0.0
topic6  -10.9 -0.5  19.8  -0.4 -0.9  -0.6   -0.2  -0.1  -1.4 -0.0 -0.0 -0.1
topic7   17.9  0.1 -16.4   0.8  0.8  -2.4    0.0   0.0  -1.6 -0.4  0.0 -0.1
topic8   33.8  0.1   5.0  -0.5 -0.5   0.2   -0.4  -0.4   3.2 -0.6 -0.0 -0.2
topic9    6.4 -0.3  16.6   1.5 -1.0   6.5   -0.6  -0.4   3.3 -0.4 -0.0  0.1
topic10 -32.6 -0.2  -9.7   0.1  0.1  12.1    0.1   0.0   0.4  0.0 -0.1 -0.2
topic11  18.3  0.5  31.2   0.6  1.3  -4.7   -0.1   0.1   0.1 -0.3 -0.0 -0.2
topic12 -14.0 -0.3  48.8  -0.1  0.4   2.2   -0.2   0.2   1.1 -0.0  0.0  0.1
topic13  29.4  0.0  -0.2  -0.4  0.4   4.3    0.7   0.0  -3.5 -0.4  0.0 -0.4
topic14   0.7  0.0  14.8  -0.2 -0.8   6.4    0.2  -0.1   4.0 -0.0  0.0 -0.4
topic15 -19.5  0.6   0.4   1.0  1.4   7.1    0.5  -0.4  -2.3  0.6 -0.1  0.2

In [47]:
deals.T.sum()

topic0    -11.9
topic1      7.6
topic2     12.7
topic3    -15.5
topic4     38.2
topic5    -33.9
topic6      4.7
topic7     -1.3
topic8     39.7
topic9     31.7
topic10   -30.0
topic11    46.8
topic12    38.2
topic13    29.9
topic14    24.6
topic15   -10.5
dtype: float64

In [48]:
tfidf_docs

,0,1,2,3,4,5,...,9226,9227,9228,9229,9230,9231
0,-0.025643,-0.00584,-0.000228,-0.000053,-0.000156,-0.000943,...,-0.000148,-0.000099,-0.00066,-0.000055,-0.000055,-0.000055
1,-0.025643,-0.00584,-0.000228,-0.000053,-0.000156,-0.000943,...,-0.000148,-0.000099,-0.00066,-0.000055,-0.000055,-0.000055
2,-0.025643,-0.00584,-0.000228,-0.000053,-0.000156,-0.000943,...,-0.000148,-0.000099,-0.00066,-0.000055,-0.000055,-0.000055
3,-0.025643,-0.00584,-0.000228,-0.000053,-0.000156,-0.000943,...,-0.000148,-0.000099,-0.00066,-0.000055,-0.000055,-0.000055
4,-0.025643,-0.00584,-0.000228,-0.000053,-0.000156,-0.000943,...,-0.000148,-0.000099,-0.00066,-0.000055,-0.000055,-0.000055
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4832,0.063691,-0.00584,-0.000228,-0.000053,-0.000156,-0.000943,...,-0.000148,-0.000099,-0.00066,-0.000055,-0.000055,-0.000055
4833,-0.025643,-0.00584,-0.000228,-0.000053,-0.000156,-0.000943,...,-0.000148,-0.000099,-0.00066,-0.000055,-0.000055,-0.000055
4834,-0.025643,-0.00584,-0.000228,-0.000053,-0.000156,-0.000943,...,-0.000148,-0.000099,-0.00066,-0.000055,-0.000055,-0.000055
4835,-0.025643,-0.00584,-0.000228,-0.000053,-0.000156,-0.000943,...,-0.000148,-0.000099,-0.00066,-0.000055,-0.000055,-0.000055
4836,-0.025643,-0.00584,-0.000228,-0.000053,-0.000156,-0.000943,...,-0.000148,-0.000099,-0.00066,-0.000055,-0.000055,-0.000055

In [49]:
n = 9232
from sklearn.decomposition import TruncatedSVD
svd = TruncatedSVD(n_components=16, n_iter=100)
# tfidf_docs.values
svd_topic_vectors = svd.fit_transform(tfidf_docs.values)
svd_topic_vectors = pd.DataFrame(svd_topic_vectors, index=['sms{}{}'.format(i, '!' * j) for (i, j) in zip(range(n), sms.spam)],columns=['topic{}'.format(i) for i in range(16)])
svd_topic_vectors.round(3).head(6)

       topic0  topic1  topic2  topic3  topic4  topic5  ...  topic10  topic11  topic12  topic13  topic14  topic15
sms0    0.201   0.003   0.037   0.011  -0.019  -0.053  ...    0.007   -0.007    0.002   -0.036   -0.014    0.037
sms1    0.404  -0.094  -0.078   0.051   0.100   0.047  ...   -0.004    0.036    0.043   -0.021    0.051   -0.042
sms2!  -0.030  -0.048   0.090  -0.067   0.091  -0.043  ...    0.125    0.023    0.026   -0.020   -0.042    0.052
sms3    0.329  -0.033  -0.035  -0.016   0.052   0.056  ...    0.022    0.023    0.073   -0.046    0.022   -0.070
sms4    0.002   0.031   0.038   0.034  -0.075  -0.093  ...    0.028   -0.009    0.027    0.034   -0.083   -0.021
sms5!  -0.016   0.059   0.014  -0.006   0.122  -0.040  ...    0.041    0.055   -0.037    0.075   -0.001    0.020

[6 rows x 16 columns]

In [50]:
import numpy as np
svd_topic_vectors = (svd_topic_vectors.T/np.linalg.norm(svd_topic_vectors, axis = 1)).T
svd_topic_vectors.iloc[:10].dot(svd_topic_vectors.iloc[:10].T).round(1)

       sms0  sms1  sms2!  sms3  sms4  sms5!  sms6  sms7  sms8!  sms9!
sms0    1.0   0.6   -0.1   0.6  -0.0   -0.3  -0.3  -0.1   -0.3   -0.3
sms1    0.6   1.0   -0.2   0.8  -0.2    0.0  -0.2  -0.2   -0.1   -0.1
sms2!  -0.1  -0.2    1.0  -0.2   0.1    0.4   0.0   0.3    0.5    0.4
sms3    0.6   0.8   -0.2   1.0  -0.2   -0.3  -0.1  -0.3   -0.2   -0.1
sms4   -0.0  -0.2    0.1  -0.2   1.0    0.2   0.0   0.1   -0.4   -0.2
sms5!  -0.3   0.0    0.4  -0.3   0.2    1.0  -0.1   0.1    0.3    0.4
sms6   -0.3  -0.2    0.0  -0.1   0.0   -0.1   1.0   0.1   -0.2   -0.2
sms7   -0.1  -0.2    0.3  -0.3   0.1    0.1   0.1   1.0    0.1    0.4
sms8!  -0.3  -0.1    0.5  -0.2  -0.4    0.3  -0.2   0.1    1.0    0.3
sms9!  -0.3  -0.1    0.4  -0.1  -0.2    0.4  -0.2   0.4    0.3    1.0

### 4.5.1

In [51]:
total_corpus_len = 0
for document_text in sms.text:
    total_corpus_len = total_corpus_len + len(casual_tokenize(document_text))
mean_document_len = total_corpus_len/ len(sms)
round(mean_document_len, 2)

21.35

In [52]:
sum([len(casual_tokenize(t)) for t in sms.text]) * 1. / len(sms.text)

21.34794293983874

### 4.5.2

In [53]:
index = ['sms{}{}'.format(i, '!'*j) for (i,j) in zip(range(len(sms)), sms.spam)]

In [54]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import casual_tokenize
np.random.seed(42)
counter = CountVectorizer(tokenizer=casual_tokenize)
bow_docs = pd.DataFrame(counter.fit_transform(raw_documents=sms.text).toarray(), index=index)
column_nums, terms = zip(*sorted(zip(counter.vocabulary_.values(),counter.vocabulary_.keys())))
bow_docs.columns = terms

In [56]:
sms.loc['sms0'].text

'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

In [57]:
bow_docs.loc['sms0'][bow_docs.loc['sms0'] > 0].head()

,            1
..           1
...          2
amore        1
available    1
Name: sms0, dtype: int64

In [58]:
from sklearn.decomposition import LatentDirichletAllocation as LDiA
ldia = LDiA(n_components=16, learning_method='batch')
ldia = ldia.fit(bow_docs)
ldia.components_.shape

(16, 9232)

In [59]:
columns = ['topic{}'.format(i) for i in range(pca.n_components)]
pd.set_option('display.width', 75)
components = pd.DataFrame(ldia.components_.T, index=terms,columns=columns)
components.round(2).head(3)

,topic0,topic1,topic2,topic3,topic4,topic5,...,topic10,topic11,topic12,topic13,topic14,topic15
!,184.03,15.00,72.22,394.95,45.48,36.14,...,37.42,44.18,64.40,297.29,41.16,11.70
"""",0.68,4.22,2.41,0.06,152.35,0.06,...,8.42,11.42,0.07,62.72,12.27,0.06
#,0.06,0.06,0.06,0.06,0.06,2.07,...,0.06,0.06,1.07,4.05,0.06,0.06

In [60]:
components.topic3.sort_values(ascending=False)[:10]

!       394.952246
.       218.049724
to      119.533134
u       118.857546
call    111.948541
£       107.358914
,        96.954384
*        90.314783
your     90.215961
is       75.750037
Name: topic3, dtype: float64

In [61]:
ldia16_topic_vectors = ldia.transform(bow_docs)
ldia16_topic_vectors = pd.DataFrame(ldia16_topic_vectors,index=index, columns=columns)
ldia16_topic_vectors.round(2).head()

,topic0,topic1,topic2,topic3,topic4,topic5,...,topic10,topic11,topic12,topic13,topic14,topic15
sms0,0.00,0.62,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00
sms1,0.01,0.01,0.01,0.01,0.01,0.01,...,0.01,0.12,0.01,0.01,0.01,0.01
sms2!,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00
sms3,0.00,0.00,0.00,0.00,0.09,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00
sms4,0.39,0.00,0.33,0.00,0.00,0.00,...,0.00,0.00,0.09,0.00,0.00,0.00

In [62]:
from sklearn.model_selection import train_test_split
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
X_train, X_test, y_train, y_test =train_test_split(ldia16_topic_vectors, sms.spam, test_size=0.5,random_state=271828)
lda = LDA(n_components=1)
lda = lda.fit(X_train, y_train)
sms['ldia16_spam'] = lda.predict(ldia16_topic_vectors)
round(float(lda.score(X_test, y_test)), 2)

0.94

In [63]:
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.tokenize.casual import casual_tokenize
tfidf = TfidfVectorizer(tokenizer=casual_tokenize)
tfidf_docs = tfidf.fit_transform(raw_documents=sms.text).toarray()
tfidf_docs = tfidf_docs - tfidf_docs.mean(axis=0)
X_train, X_test, y_train, y_test = train_test_split(tfidf_docs,sms.spam.values, test_size=0.5, random_state=271828)
lda = LDA(n_components=1)
lda = lda.fit(X_train, y_train)
round(float(lda.score(X_train, y_train)), 3)

1.0

In [64]:
round(float(lda.score(X_test, y_test)), 3)

0.748

In [65]:
ldia32 = LDiA(n_components=32, learning_method='batch')
ldia32 = ldia32.fit(bow_docs)
ldia32.components_.shape

(32, 9232)

In [66]:
ldia32_topic_vectors = ldia32.transform(bow_docs)
columns32 = ['topic{}'.format(i) for i in range(ldia32.n_components)]
ldia32_topic_vectors = pd.DataFrame(ldia32_topic_vectors, index=index,columns=columns32)
ldia32_topic_vectors.round(2).head()

,topic0,topic1,topic2,topic3,topic4,topic5,...,topic26,topic27,topic28,topic29,topic30,topic31
sms0,0.0,0.00,0.0,0.06,0.14,0.00,...,0.0,0.00,0.0,0.00,0.0,0.0
sms1,0.0,0.00,0.0,0.00,0.53,0.00,...,0.0,0.00,0.0,0.14,0.0,0.0
sms2!,0.0,0.00,0.0,0.00,0.00,0.65,...,0.0,0.00,0.0,0.00,0.0,0.0
sms3,0.0,0.11,0.0,0.00,0.39,0.00,...,0.0,0.00,0.0,0.00,0.0,0.0
sms4,0.0,0.00,0.0,0.00,0.00,0.00,...,0.0,0.47,0.0,0.00,0.0,0.0

In [67]:
X_train, X_test, y_train, y_test =train_test_split(ldia32_topic_vectors, sms.spam, test_size=0.5,random_state=271828)
lda = LDA(n_components=1)
lda = lda.fit(X_train, y_train)
sms['ldia32_spam'] = lda.predict(ldia32_topic_vectors)
X_train.shape

(2418, 32)

In [68]:
round(float(lda.score(X_train, y_train)), 3)

0.933

In [69]:
round(float(lda.score(X_test, y_test)), 3)

0.936

In [70]:
'cityblock', 'cosine', 'euclidean', 'l1', 'l2', 'manhattan', 'braycurtis',
'canberra', 'chebyshev', 'correlation', 'dice', 'hamming', 'jaccard',
'kulsinski', 'mahalanobis', 'matching', 'minkowski', 'rogerstanimoto',
'russellrao', 'seuclidean', 'sokalmichener', 'sokalsneath', 'sqeuclidean',
'yule'

'yule'

In [71]:
lda = LDA(n_components=1)
lda = lda.fit(tfidf_docs, sms.spam)
sms['lda_spaminess'] = lda.predict(tfidf_docs)
((sms.spam - sms.lda_spaminess) ** 2.).sum() ** .5

0.0

In [72]:
(sms.spam == sms.lda_spaminess).sum()

4837

In [73]:
len(sms)

4837

In [74]:
from sklearn.model_selection import cross_val_score
lda = LDA(n_components=1)
scores = cross_val_score(lda, tfidf_docs, sms.spam, cv=5)
"Accuracy: {:.2f} (+/-{:.2f})".format(scores.mean(), scores.std() * 2)

'Accuracy: 0.77 (+/-0.02)'

In [75]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(tfidf_docs,sms.spam, test_size=0.33, random_state=271828)
lda = LDA(n_components=1)
lda.fit(X_train, y_train)

LinearDiscriminantAnalysis(n_components=1, priors=None, shrinkage=None,
                           solver='svd', store_covariance=False, tol=0.0001)

In [76]:
lda.score(X_test, y_test).round(3)

0.764

In [77]:
lda = LDA(n_components=1)
scores = cross_val_score(lda, pca_topic_vectors, sms.spam, cv=10)
"Accuracy: {:.3f} (+/-{:.3f})".format(scores.mean(), scores.std() * 2)

'Accuracy: 0.957 (+/-0.022)'